.container {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kub {
    width: 100px;
    height: 100px;
    background: red;
    border: 2px solid black;
}
@media(max-width: 330px) {
    .container {
        height: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
